.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
 
.topbar{
  justify-content: center;
  align-items: center;
} 


.title{
  justify-content: center;
  align-items: center;
  font-size: 56px;
}
