<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      >
    <mat-toolbar>
      Menu
    </mat-toolbar>
    
    <mat-nav-list>
      <a mat-list-item href="#" class="list">
        Settings
        <img src="../../assets/kettlebell.png" alt="" class="image-side">
      </a>
      <a mat-list-item href="#" class="list">
        About us
        <img src="../../assets/kettlebell.png" alt="" class="image-side">
      </a>
      <a mat-list-item href="#" class="list">
        Disclaimers
        <img src="../../assets/kettlebell.png" alt="" class="image-side">
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="topbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="../../assets/kettlebell2.png" alt="" class="image-left image">
      <span class="title">
        Gym-App
      </span>
      <img src="../../assets/kettlebell2.png" alt="" class="image-right image">
    </mat-toolbar>
    <app-login></app-login>
  </mat-sidenav-content>
</mat-sidenav-container>
