<div class="vh-100 back">
<div class="vh-30 container-fluid d-flex justify-content-center align-items-center">
  <img src="../../assets/kettlebell2.png" style="height:3.5rem; padding-right: 3.5rem;" alt="">
  GYM-APP
  <img src="../../assets/kettlebell2.png" style="height:3.5rem ;padding-left: 3.5rem;" alt="">
</div>
<div class="vh-60 container-fluid py-9 d-flex justify-content-center align-items-start">
  <mat-card class=" card d-flex flex-column justify-content-center">
    <mat-card-title class="d-flex justify-content-center">Login</mat-card-title>
    <mat-card-content class="d-flex justify-content-center">
      <form>
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
            <div *ngIf=""></div>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password" required minlength="6">
            <div *ngIf=""></div>
          </mat-form-field>
        </p>



        <div class="button">
          <button type="submit" mat-button>Go</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
<div class="footer d-flex justify-content-center align-items-end">Ricard - 2022</div>
</div>