<h1>GYM-APP pogchamp </h1>
<form action="action_page.php" method="post">
  
    <div class="container">
      <label for="uname"><b>Nom d'utilisateur</b></label>
      <input type="text" placeholder="Entrer votre nom d'utilisateur " name="uname" required>
    </div>
    <div>  
      <label for="psw"><b>Mot de passe </b></label>
      <input type="password" placeholder="Entrer votre mot de passe" name="psw" required>
  
      <button type="submit">Connecter</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Se souvenir de moi
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Annuler</button>
      <span class="psw"> <a href="#">Mot de passe oublié?</a> </span>
    </div>
  </form>