.container * {
  color: greenyellow;
}

.img-bg {
  position: fixed;
  top: 15%;
  left: 15%;
  z-index: -1;
  border-radius: 50%;
  opacity: 40%;
}

.container {
  position: relative;
  height: 100%;
}

.header-button {
  text-decoration: none;
  font-size: 20px;
  transition: all 0.2s;
}

.header-button:hover {
  transform: scale(1.2);
  color: lightgray;
}

.content * {
  font-size: 90px;
}

.font-bold * {
  font-weight: 600;
}

.top-title {
  margin-top: 100px;
  padding: 0;
}

.mat-form-field * {
  caret-color: white;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: lightgray !important;
}

::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: greenyellow;
}

.login {
  padding-top: 90px;
}

.icons {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  padding-bottom: 10px;
}

.icons * {
  padding: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

.icons *:hover {
  transform: translateY(-10px) scale(1.2);
}

.register:hover {
  color: lightgray;
}
