<div class="container">
  <div class="header d-flex justify-content-around pt-3">
    <a class="header-button" href="">About us</a>
    <a class="header-button" href="">About you</a>
    <a class="header-button" href="">Pricing</a>
  </div>
  <div class="content d-flex flex-column align-items-center pt-3 font-bold">
    <h1 class="top-title">JOIN OUR</h1>
    <h1 class="pt-5">COMMUNITY</h1>
  </div>
  <div class="login d-flex align-items-center flex-column">
    <mat-form-field [style.width.px]="350">
      <mat-label>Username</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field [style.width.px]="350">
      <mat-label>Password</mat-label>
      <input matInput />
    </mat-form-field>
    <a class="register" href="">Need to register? Click here</a>
  </div>
  <div class="icons">
    <img src="../../assets/fb_icon.png" alt="" width="40px" />
    <img src="../../assets/twitt_icon.svg" alt="" width="40px" />
    <img src="../../assets/yt_icon.svg" alt="" width="40px" />
  </div>
</div>

<img
  src="../../assets/barbell-deadlift-technique-01.jpg"
  class="img-fluid p-5 img-bg"
  height="70%"
  width="70%"
  alt=""
/>
